<app-button text="Crear producto" icon="plus" [isLoading]="false" (onClick)="addProduct()"></app-button>
<br><br>
<dx-data-grid #grid [dataSource]="dataSource" [remoteOperations]="true" [height]="600"
              [showBorders]="true" [hoverStateEnabled]="true"
              (onSelectionChanged)="onSelect(grid.instance.getSelectedRowsData()[0])">
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
  <dxo-selection mode="single"></dxo-selection>

  <dxi-column dataField="id"></dxi-column>
  <dxi-column dataField="name"></dxi-column>
  <dxi-column dataField="description"></dxi-column>
</dx-data-grid>
