<div class="row text-center">
  <div class="col-sm mb-3">
    <dx-button stylingMode="contained"
               text="Ventas"
               type="default"
               [width]="120"
               (onClick)="router.navigate([routeName.SALES.HOME_ROOT])">
    </dx-button>
  </div>
  <div class="col-sm mb-3">
    <dx-button stylingMode="contained"
               text="Clientes"
               type="default"
               [width]="120"
               (onClick)="router.navigate([routeName.CUSTOMER.HOME_ROOT])">
    </dx-button>
  </div>
</div>
<div class="row text-center">
  <div class="col-sm mb-3">
    <dx-button stylingMode="contained"
               text="Inventario"
               type="default"
               [width]="120"
               (onClick)="router.navigate([routeName.STOCK.HOME_ROOT])">
    </dx-button>
  </div>
  <div class="col-sm mb-3">
    <dx-button stylingMode="contained"
               text="Reportes"
               type="default"
               [width]="120"
               (onClick)="router.navigate([routeName.REPORT.HOME_ROOT])">
    </dx-button>
  </div>
</div>
