<div class="row text-center">
  <div class="col-sm mb-3">
    <app-button stylingMode="contained"
                text="Ventas"
                type="default"
                (onClick)="router.navigate([routeName.SALES.HOME_ROOT])"></app-button>
  </div>
  <div class="col-sm mb-3">
    <app-button stylingMode="contained"
                text="Clientes"
                type="default"
                (onClick)="router.navigate([routeName.CUSTOMER.HOME_ROOT])">
    </app-button>
  </div>
</div>
<div class="row text-center">
  <div class="col-sm mb-3">
    <app-button stylingMode="contained"
                text="Inventario"
                type="default"
                (onClick)="router.navigate([routeName.STOCK.HOME_ROOT])">
    </app-button>
  </div>
  <div class="col-sm mb-3">
    <app-button stylingMode="contained"
                text="Reportes"
                type="default"
                (onClick)="router.navigate([routeName.REPORT.HOME_ROOT])">
    </app-button>
  </div>
</div>
